extends layout

block content
  h2 Login

  if error
    p(style="color:red")= error

  form(action="/login" method="POST")
    input(type="text" name="username" placeholder="Username" required)
    input(type="password" name="password" placeholder="Password" required)
    button(type="submit") Login

  p
    a(href="/register") Don't have an account? Register